body
{
    margin: 0;
    padding: 0;
    color: #555;
    font: normal 10pt Arial,Helvetica,sans-serif;
    background-image: url(../images/background.jpg);
}
#calc_banner{

}
.knopka {
    color: #fff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: rgb(212,75,56); /* фон кнопки */
    padding: .7em 1.5em; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
} 
.knopka:hover { background: rgb(232,95,76); } /* при наведении курсора мышки */
.knopka:active { background: rgb(152,15,0); } /* при нажатии */

.button8 {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
} 
.button8:hover { background: rgb(53, 167, 110); }
.button8:active {
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;
}

.button7 {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 0em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
    padding: 10px;
    position: relative;
    width: 100%;
    height: 40px;
    display: block;
    overflow: hidden;
} 
.button7:hover { background: rgb(53, 167, 110); }
.button7:active {
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;
}


.button6 {
    position: relative;
    font-weight: bold;
    color: white;
    text-decoration: none;
    text-shadow: 0 -1px 1px #cc5500;
    user-select: none;
    padding: .8em 2em;
    outline: none;
    border-radius: 1px;
    background: linear-gradient(to left, rgba(0,0,0,.3), rgba(0,0,0,.0) 50%, rgba(0,0,0,.3)), linear-gradient(#d77d31, #fe8417, #d77d31);
    background-size: 100% 100%, auto;
    background-position: 50% 50%;
    box-shadow: inset #ebab00 0 -1px 1px, inset 0 1px 1px #ffbf00, #cc7722 0 0 0 1px, #000 0 10px 15px -10px;
    transition: 0.2s;
}
.button6:hover {
    background-size: 140% 100%, auto;
}
.button6:active {
    top: 1px;
    color: #ffdead;
    box-shadow: inset #ebab00 0 -1px 1px, inset 0 1px 1px #ffbf00, #cc7722 0 0 0 1px, 0 10px 10px -9px #000;
}


#Sliders_path{
    position: absolute;
    width: 200%;
    height: 200px;
    top: -50px;
    left: -50%;
}
#Competition_logo_desc{
    position: absolute;
    width: 200%;
    height: 200px;
    top: -50px;
    left: -50%;
}
#Events_logo_path{
    position: absolute;
    width: 200%;
    height: 200px;
    top: -50px;
    left: -50%;
}
#Banners_path{
    position: absolute;
    width: 200%;
    height: 200px;
    top: -50px;
    left: -50%;
}
#File_path{
    position: absolute;
    width: 200%;
    height: 200px;
    top: -50px;
    left: -50%;
}
#page
{
    margin-top: 5px;
    margin-bottom: 5px;
    background: white;
    border: 1px solid #C9E0ED;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
}

#header
{
    margin: 0;
    padding: 0;
    border-top: 3px solid #C9E0ED;
}

#content
{
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    padding: 20px;
}

.large-block-grid-1 li{
    width: 175px;
    height: 150px;
}

.large-block-grid-1 li a,
.large-block-grid-1 li img {
    /*max-width: 100%;*/
    width: 100%;
    height: 100%;

}

#sidebar
{
    padding: 20px 20px 20px 0;
}

#footer
{
    padding: 10px;
    margin: 10px 20px;
    font-size: 0.8em;
    text-align: center;
    border-top: 1px solid #C9E0ED;
}

#logo
{
    padding: 10px 20px;
    font-size: 200%;
}

#mainmenu
{
    text-align: center;
    background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
    display: inline-block;
    padding:10px 20px 10px 20px;
    margin:0px;
}

#mainmenu ul li
{
    display: inline;
}

#mainmenu ul li a
{
    color:#ffffff;
    background-color:transparent;
    font-size:12px;
    font-weight:bold;
    text-decoration:none;
    padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
    color: #6399cd;
    background-color:#EFF4FA;
    text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
    padding:.8em;
    margin-bottom:1em;
    border:2px solid #ddd;
}

div.flash-error
{
    background:#FBE3E4;
    color:#8a1f11;
    border-color:#FBC2C4;
}

div.flash-notice
{
    background:#FFF6BF;
    color:#514721;
    border-color:#FFD324;
}

div.flash-success
{
    background:#E6EFC2;
    color:#264409;
    border-color:#C6D880;
}

div.flash-error a
{
    color:#8a1f11;
}

div.flash-notice a
{
    color:#514721;
}

div.flash-success a
{
    color:#264409;
}

div.form .rememberMe label
{
    display: inline;
}

.dop_in{
    font-size: 75%;
    font-style: italic;
}
div.view .more a
{
    font-size: 75%;
    font-style: italic;
    margin-right: 20px;
}

div.content
{
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
}
div.view li{
    list-style: none;
    /*width:*/ 
}

div.view
{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #C9E0ED;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
}

/*/////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////*/
div.view:hover {
    /*<<<<<<< HEAD*/
    /*    padding: 10px;
        margin: 10px 0;
        border: 1px solid #FFDAB9;
        box-shadow: 0px 1px 11px -2px #ff0300;
        box-shadow: 0px 0px 16px 0px #ff0300;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;*/
    /*=======*/
    padding: 10px;
    margin: 10px 0;
    /*border: 1px solid #FFDAB9;*/
    box-shadow: 0px 1px 11px -2px #ff0300;
    box-shadow: 0px 0px 16px 0px #BEBEBE;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    /*>>>>>>> dev*/
}

/*/////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////*/


div.breadcrumbs
{
    font-size: 0.9em;
    padding: 5px 20px;
}

div.breadcrumbs span
{
    font-weight: bold;
}

div.search-form
{
    padding: 10px;
    margin: 10px 0;
    background: #eee;
}

.portlet
{

}

.portlet-decoration
{
    padding: 3px 8px;
    background: #B7D6E7;
    border-left: 5px solid #6FACCF;
}

.portlet-title
{
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: #298dcd;
}

.portlet-content
{
    font-size:0.9em;
    margin: 0 0 15px 0;
    padding: 5px 8px;
    background:#EFFDFF;
}

.portlet-content ul
{
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin: 0;
    padding: 0;
}

.portlet-content li
{
    padding: 2px 0 4px 0px;
}

.operations
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.operations li
{
    padding-bottom: 2px;
}

.operations li a
{
    font: bold 12px Arial;
    color: #0066A4;
    display: block;
    padding: 2px 0 2px 8px;
    line-height: 15px;
    text-decoration: none;
}

.operations li a:visited
{
    color: #0066A4;
}

.operations li a:hover
{
    background: #80CFFF;
}

/* календарь */
table.calendar    { border-left:1px solid #999; }
tr.calendar-row  {  }
td.calendar-day  { min-height:80px; font-size:11px; position:relative; } * html div.calendar-day { height:80px; }
td.calendar-day:hover  { background:#eceff5; }
td.calendar-day-np  { background:#eee; min-height:80px; } * html div.calendar-day-np { height:80px; }
td.calendar-day-head { background:#ccc; font-weight:bold; text-align:center; width:120px; padding:5px; border-bottom:1px solid #999; border-top:1px solid #999; border-right:1px solid #999; }
div.day-number    { background:#999; padding:5px; color:#fff; font-weight:bold; float:right; margin:-5px -5px 0 0; width:20px; text-align:center; }
td.calendar-day, td.calendar-day-np { width:120px; padding:5px; border-bottom:1px solid #999; border-right:1px solid #999; }



.first-my{
    /*<<<<<<< HEAD*/
    margin-left: auto;
    margin-right: auto;
    /*=======
        width: 260px;
    >>>>>>> dev*/
    padding: 20px;
    text-align: center;}
.first-my .result span{
    padding: 22px 12px 15px;
    display: inline-block;
    margin: 0 8px 0 -5px; 
    font-size: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 1px 1px 0px rgb(178, 176, 176);
    -moz-box-shadow: 0px 1px 1px 0px rgb(178, 176, 176);
    box-shadow: 0px 1px 1px 0px rgb(178, 176, 176);
    background: #b2e1ff; /* Old browsers */
    background: -moz-linear-gradient(top, #b2e1ff 0%, #66b6fc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b2e1ff), color-stop(100%,#66b6fc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #b2e1ff 0%,#66b6fc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #b2e1ff 0%,#66b6fc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #b2e1ff 0%,#66b6fc 100%); /* IE10+ */
    background: linear-gradient(to bottom, #b2e1ff 0%,#66b6fc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#b2e1ff", endColorstr="#66b6fc",GradientType=0 ); /* IE6-9 */ }
.first-my .result {
    /*<<<<<<< HEAD*/
    /*    float: right;*/
    /*=======*/
    /*    float: right;
    >>>>>>> dev*/
}
.first-my .titles{
    position: relative;
    height: 0;
    /*<<<<<<< HEAD*/
    /*    right: -23px;
        width: 300px;*/
}

.first-my  p.titles{
    margin: 0px;
    /*=======
        right: -23px;
        width: 300px;
    >>>>>>> dev*/
}
.first-my .titles span{
    font-size: 10px;
    position: relative;
    /*<<<<<<< HEAD*/
    /*    top: 12px;*/
}
.first-my .titles span.ss{
    position: relative;
    right:-28px;
}
.first-my .titles span.mm{
    right: -11px;}
.first-my .titles span.hh{
    right: 13px;}
.first-my .titles span.dd{
    right: 36px;}
.first-my p.titloftimer{ 
    font-size: 27px;
    font-family: calibri;
    margin: 0 auto 15px;
    /*    left: 10px; */
    position: relative;
    color: #B22222; 
}
/*=======
    top: 12px;
}
.first-my .titles span.mm{
    right: 18px;}
.first-my .titles span.hh{
    right: 40px;}
.first-my .titles span.dd{
    right: 62px;}
.first-my p.titloftimer{ 
    font-size: 20px;font-family: calibri;margin: 0 auto;left: 10px;  position: relative; }
>>>>>>> dev*/
.clear{
    visibility: hidden;	display: block;	font-size: 0;	content: " ";	clear: both;	height: 0; }/*ресет*/
.timerhello span{
    margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline; }
.timerhello p{

    font-size: 100%;font: inherit;color: #191919;font-family: Verdana, sans-serif; font-size: 13px;margin: 0 0 10px 0;line-height: 17px;}

.clear{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }


iv.news .more a
{
    font-size: 75%;
    font-style: italic;
    margin-right: 20px;
}

div.news li{
    list-style: none;
    /*width:*/ 
}

div.news
{
    padding: 10px;
    margin: 10px 0;
}

div.news:hover {
    padding: 10px;
    margin: 10px 0;
    /*border: 1px solid #FFDAB9;*/
    /*box-shadow: 0px 1px 11px -2px #ff0300;*/
    box-shadow: 0px 0px 16px 0px #BEBEBE;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.title-p{
    border-bottom: 3px solid #FF4500;
}
.title-span{
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 15pt; /* Размер шрифта в пунктах */ 
}
.create-data{
    text-align: right; 
    width: 60px; 
    right: 1px; 
}

#competition-request-form input{
    font-weight:normal;
    font-size: 20px;
    font-size-adjust: 0.45;
    height: 40px;
    color: #777;
    width: 250px;
}
.form-competition{
    min-width: 100px; 
    max-width: 100%;
}
.select-form{
    min-width: 50px; 
    max-width: 100px;
    height: 40px;
    color: #777;
    width: 250px;
}
.box1 {
    padding: 5px;
    float:left;
}
.box2 {    
    padding: 5px;
    float:right;
}

#competition-request-form .submit {
    cursor: pointer;
    border: 1px solid #cecece;
    background: #f6f6f6;
    box-shadow: inset 0px 20px 20px #ffffff;
    width: 120px;
    height: 40px;
}
#competition-request-form .submit:hover {
    box-shadow: inset 0px -20px 20px #ffffff;
}
#competition-request-form .submit:active {
    margin-top: 1px;
    margin-bottom: -1px;
}




#slidebox{position:relative; border:1px solid #ccc; margin: 3px auto;overflow:hidden;}
#slidebox, #slidebox ul {width:630px;height:300px;}
#slidebox, #slidebox ul li{width:630px;height:300px;}
#slidebox ul li{position:relative; left:0; background:#eee; float:left;list-style: none; padding:0px 0px;  font-family:Verdana, Geneva, sans-serif; font-size:13px;}
#slidebox .next, #slidebox .previous{position:absolute; z-index:2; display:block; width:21px; height:21px;top:139px;}
#slidebox .next{right:0; margin-right:10px; background:url(../images/slidebox_next.png) no-repeat left top;}
#slidebox .next:hover{background:url(../images/slidebox_next_hover.png) no-repeat left top;}
#slidebox .previous{margin-left:10px; background:url(../images/slidebox_previous.png) no-repeat left top;}
#slidebox .previous:hover{background:url(../images/slidebox_previous_hover.png) no-repeat left top;}
#slidebox .thumbs{position:absolute; z-index:2; bottom:10px; right:10px;}
#slidebox .thumbs a{display:block; margin-left:5px; float:left; font-family:Verdana, Geneva, sans-serif; font-size:9px; text-decoration:none; padding:2px 4px; background:url(../images/slidebox_thumb.png); color:#fff;}
#slidebox .thumbs a:hover{background:#fff; color:#000;}
#slidebox .thumbs .thumbActive{background:#fff; color:#000; display:block; margin-left:5px; float:left; font-family:Verdana, Geneva, sans-serif; font-size:9px; text-decoration:none; padding:2px 4px;}




/* begin kalendar*/
table.calendar, table.calendar caption,thead th {
    background: #bebebe!important;
}
table.calendar, table.calendar caption {
    border: none!important;
    text-align: center;
    font-weight: normal; 
    font-size: 8pt; 
    font-family: Verdana, Arial, Helvetica, sans-serif;}
table.calendar caption,table tr th, table tr td,table.calendar a{
    color: #fff!important;
}

table.calendar tbody,table.calendar td.in_month {
    background:#9c9c9c!important;
}
table.calendar caption a{
    display: none!important;
}
table.calendar td.in_month { 
    font-weight: normal; 
    font-size: 8pt; 
    font-family: Verdana, Arial, Helvetica, sans-serif;
    padding:0px!important;
    border-bottom: 20px solid red!important;
    border-left: 20px solid transparent!important;
    border-top: none!important;
    border-right: none!important;
    text-align: left!important;
}
table.calendar td.in_month a{
    background: transparent;
    opacity: 0.5;
}
table.calendar td.selected,table.calendar td:hover { 
    background:#fff!important; 
    font-weight: normal; 
    font-size: 8pt; 
    font-family: Verdana, Arial, Helvetica, sans-serif;}
table.calendar td.selected a{
    color:red!important;
}
table.calendar td:hover a{
    color:#000!important;
}
table.calendar td a{
    margin: 0px!important;
    height: 50%!important;
}
table.calendar a {	
    display: block; 	
    font-weight: bold; 
    text-decoration: none; 	
    color: #0000ff;  
    text-align: center; 
    font-weight: normal; 
    font-size: 8pt; 
    font-family: Verdana, Arial, Helvetica, sans-serif;}
table.calendar caption a { 	
    display: inline;  
    font-weight: normal; 
    font-size: 8pt;  
    color: red;  
    font-family: Verdana, Arial, Helvetica, sans-serif;}

/* end kalendar*/